@using SurfStoreApp.Utils
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="span9">
        <div style="background-image: url('@Url.Content("~/Content/Images/intro.jpg")'); width: 100%; height: 400px;
            background-repeat: no-repeat;">
            <div style="padding: 40px;">
                <h2>
                    Welcome to the Surf Store Application</h2>
                <p style="color: white;">
                    This is the ultimate store to purchase your Extreme Sports gear from. 
                    <br/>
                    We have a
                    wide range of Surfboards, Snowboards, and Skateboards. We offer the best service
                    and our website speed is exceptional!! 
                    <br />Order Today!
                </p>
                <a class="btn btn-primary btn-large" href="@Url.Action("About", "Surf")">Learn more &raquo;</a>
            </div>
        </div>
        <br />
        <div class="row-fluid">
            <a href="@Url.Action("Product", "Surf", new { Category = "surfboard" })">
                <div class="span4" style="padding: 5px">
                    <h2>
                        Surf</h2>
                    
                    <img src="@Html.CdnUrl("~/Content/Images/surfing-homepage.png")" width="297" height="197"  />
                </div>
            </a><a href="@Url.Action("Product", "Surf", new { Category = "mens" })">
                <div class="span4" style="padding: 5px">
                    <h2>
                        Skate</h2>
                    <img src="@Url.Content("~/Content/Images/skate-homepage.png")" width="297" height="197"  />
                </div>
            </a><a href="@Url.Action("Product", "Surf", new { Category = "mens" })">
                <div class="span4" style="padding: 5px">
                    <h2>
                        Snow</h2>
                    <img src="@Url.Content("~/Content/Images/image.jpg")" width="297" height="197"  />
                </div>
            </a>
        </div>
        <br />
        <div class="row-fluid">
            <a href="@Url.Action("Product", "Surf", new { Category = "mens" })">
                <div class="span4" style="padding: 5px">
                    <h2>
                        Mens</h2>
                    <img src="@Url.Content("~/Content/Images/mens-homepage.png")" width="297" height="197"  />
                </div>
            </a><a href="@Url.Action("Product", "Surf", new { Category = "ladies" })">
                <div class="span4" style="padding: 5px">
                    <h2>
                        Ladies</h2>
                    <img src="@Url.Content("~/Content/Images/ladies-homepage.png")" width="297" height="197"  />
                </div>
            </a><a href="@Url.Action("Product", "Surf",new {Category = "Surfboard"})">
                <div class="span4" style="padding: 5px">
                    <h2>
                        All Brands</h2>
                    <img src="@Url.Content("~/Content/Images/allbrands-homepage.png")" width="297" height="197" />
                </div>
            </a>
        </div>
        <!--/row-->
    </div>
    <!--/span-->